<!DOCTYPE html>

<html>

<head>
    <title>Droplet Welcome</title>
    <meta charset="utf-8" />
    <link href="/img/fs.jpg" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">

</head>


<body>

    <nav>
        <a href="/"><label class="logo">Droplet</label></a>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>
    </nav>


    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">WATER BILL APP</span>
                <span class="heading-primary--sub">Track Bills With Ease</span>
            </h1>
            <a href="/login" class="btn btn--white btn--animated">Sign In</a>
        </div>
    </header>


</body>

</html>