<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="/img/fs.jpg" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">


  <!-- CORE CSS-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <style type="text/css">
    html,
    body {
      height: 100%;
    }

    html {
      display: table;
      margin: auto;
    }

    body {
      display: table-cell;
      vertical-align: middle;
      background-color: rgb(161, 29, 144);
      font-family: 'Monda', 'Courier New', Courier, monospace;
    }

    .margin {
      margin: 0 !important;
    }

    .home-link {
      color: #ffffff;
      font-size: 3vmin;
    }

    .home-link:hover {
      color: black;
    }


    /* Actions Bar */

    .actions {
      padding: .1rem
    }

    .actions__container {
      align-items: center;
      display: flex;
      max-width: 60rem;
      margin: 0 auto;
      min-height: 3rem;
      padding: 1rem 1.6rem;
    }

    .actions__container--spaced {
      justify-content: space-between
    }
  </style>

</head>

<body>

  <div class="actions">
    <div class="actions__container actions__container--spaced">
      <a class="home-link" href="/">
        <p>&larr; Back</p>
      </a>
    </div>
  </div>

  <p style="color: rgb(255, 255, 255) ; text-align:center" id="errorText"></p>

  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" action="/api/login" method="POST">
        <div class="row">
          <div class="input-field col s12 center">
            <h5 class="center login-form-text">Login Form - Sign In Below</h5>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input class="validate" id="email" type="email" name="email" placeholder="Email" autofocus required>
            <label for="email" data-error="wrong" data-success="right" class="center-align"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" placeholder="Password" name="password" required>
            <label for="password"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="btn waves-effect waves-light col s12" value="Login" type="submit">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="/sign-up">Create Account</a></p>
          </div>

        </div>

      </form>
    </div>
  </div>
</body>

<script>
  const errorResponse = window.location.href.split("=")[1]

  if (errorResponse.length > 3) {
    const errorText = document.getElementById("errorText");
    errorText.innerHTML = errorResponse.replaceAll("%20", " ").replaceAll("%27", " ")
  }
</script>

</html>