<!DOCTYPE html>

<html>

<head>
  <title>Thank You</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/img/fs.jpg" rel="icon" />
  <link href="/css/submit.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet" />

</head>

<body>
  <div class="header">
    <div class="container">
      <h1 class="header__title">Droplet</h1>
      <h2 class="header__subtitle">Message Sent</h2>
    </div>
  </div>
  <div class="actions">
    <div class="actions__container actions__container--spaced">
      <a href="/dashboard">
        <h3>Dashboard</h3>
      </a>
      <span id="last-edited"></span>
    </div>
  </div>
  <h3 class="feedback">
    Thanks for reaching out. We'll get back to you shortly, via the email you provided.
  </h3>
</body>

</html>